
.homepage {
    display: flex;
      background-color: #ededed;
      height: 100vh;
  }
.container {
    margin-left: 250px;
    width: calc(100% - 200px);
    padding: 2rem;
    overflow: hidden;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.75rem;
    color: #5076FF; 
  }
  
  .info {
    text-align: right;
    color: #FF5D01;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-right: 1rem;
  }
  .qscroll{
    height: 44rem;
    max-height: 700px;
    overflow-y: auto;
  }
  .questionsContainer {
    color: black;
    width: 52rem;
    max-width: 850px;
    height: 10rem;
    max-height: 160px;
    margin-bottom: 7rem;
  }
  
  .questions {
    margin-bottom: 2rem;
  }
  
  .questionTitle {
    font-size: 1.9rem;
    font-weight: 500;
    font-family: 'Poppins';
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
  
  .statBox {
    width: 16rem;
    height: 8.5rem;
    border-radius: 5px;
    background-color: white;
    text-align: center;
  }
  
  .statNumber {
    font-family: 'Poppins';
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 600;
    color: #474444;
  }
  
  .statLabel {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #474444;
  }
  .Hrline{
    width: 880px;
    border: 2px solid #D7D7D7;
  }