.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(29, 28, 28, 0.886);
}

.container {
  background-color: #ffffff;
  width: 900px;
  height: 700px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.slides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}
.slides p{
  color: #9F9F9F;
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 30px;
}
.slide{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.slideButton{
  width: 40px;
  height: 60px;
  border-radius: 60%;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #9F9F9F;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 15, 0, 0.25);
  position: relative;
}

.closeSlide{
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15%;
  cursor: pointer;
}

.plus{
  width: 25px;
  height: 25px;
  color: #969696;
  background-color: white;
}

.questionInput{
  width: 670px;
  border-radius: 10px;
  height: 50px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 15, 0, 0.25);
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.optionType{
  display: flex;
  justify-self: start;
  align-items: start;
  width: 100%;
}

.optionLabel{
  display: inline;
  font-family: 'Poppins';
  font-weight: 500;
  color: #9F9F9F;
  width: 24%;
}
.optionButtons{
  display: flex;
  flex-direction: row;
  font-family: 'Poppins';
  font-weight: 500;
  color: #9F9F9F;
  width: 100%;
}
.optionButtons input{
  width: 25px;
  height: 25px;
}
.answerButton{
  width: 20px;
}
.answerText {
  margin-bottom: 1.3rem;
  padding: 0.3rem;
  border: none;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 15, 0, 0.25);
  color: #9F9F9F;
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 30px;
}
.addOptionButton{
  margin-left: 6.5rem;
  padding: 0.3rem;
  width: 300px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 15, 0, 0.25);
  color: #9F9F9F;
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 500;
}

.optionSelected {
  background-color: #10b981;
  color: #ffffff;
}

.optionInputSelected {
  background-color: #10b981;
  color: #ffffff;
}

.timerOptions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.timerTitle{
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #9F9F9F;
}
.timer{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 15, 0, 0.25);
  background-color: white;
  color: #9F9F9F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.timerradioButtons{
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.actions button{
  width: 280px;
  height: 45px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.cancelButton {
  background-color: #ffffff;
  color: #474444;
  box-shadow: 0px 0px 10px 0px rgba(0, 15, 0, 0.25);
}

.createButton {
  background-color: #10b981;
  color: #ffffff;
}

.answerOption{
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}
.answers{
  display: flex;
  flex-direction: row;
}

.deletebtn{
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
/* .correctAnswer {
  background-color: green;
} */

.selectedTimer {
  background-color: red;
}
