.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(29, 28, 28, 0.886);
}

.container {
  background-color: #ffffff;
  width: 52rem;
  height: 25rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 43rem; 
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.input {
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 15, 0, 0.25);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  color: #9f9f9f;
  margin-left: 0; 
  width: 100%; 
  max-width: 43rem; 
  box-sizing: border-box; 
  padding: 1.5rem;
  background-color: #fff;
}


.formGroup {
  width: 100%; 
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  margin-left: 5px;
  justify-content: space-between;
  align-items: center;
}

.label {
  color: #9f9f9f;
  font-family: "Poppins";
  font-size: 25px;
  line-height: 38px;
}

.quizType {
  width: 160px;
  height: 45px;
  border-radius: 10px;
  color: #9f9f9f;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 38px;
  box-shadow: 0px 0px 25px 0px rgba(0, 15, 0, 0.25);
  text-align: center;
  cursor: pointer;
}
.selected {
  background-color: #60B84B;
  color: white;
}
.actionButtons {
  display: flex;
  justify-content: space-between;
}
.actionButtons button {
  width: 280px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.cancelButton {
  background-color: #ffffff;
  color: #474444;
  text-align: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 15, 0, 0.25);
}

.continueButton {
  background-color: #60B84B;
  color: #fff;
}

.customToast {
  width: 450px;
  margin-right: 50px;
  height: 50px; 
  white-space: normal;
  word-break: break-word;
}