
 @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

input.error {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #d60000;
  color: #d60000;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}


.registerContainer {
  padding: 1rem;
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  color: #474444;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  text-align: right;
  width: 40%; 
}

input {
  max-width: 388px;
  width: 65%; 
  height: 4vh; 
  border-radius: 10px 10px 0 0;
  border: 1px solid #f4f4f4;
  padding: 0.5rem;
  background-color: #f4f4f4;
  margin-left: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 15px;
}

.btn {
  max-width: 274px;
  width: 35vw;
  max-height: 38px;
  height: 4vh; 
  border-radius: 8px;
  background-color: #a9bcff;
  color: #474444;
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-top: 1rem; 
}
